*{
    margin: 0%;
    padding: 0%;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sedans button{
    color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.luxury button{
    color: hsl(179, 100%, 13%);
}

section{
    width: 240px;
}

section *{
    margin:30px 40px 0px 30px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 1.5;
  
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: "arial";
}

button{
    background-color:hsl(0, 0%, 95%) ;
    margin-top: 80px;
    margin-bottom: 60px;
    border-radius: 30px;
    padding: 10px 30px;
    border: 1px solid white;
}



main{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

body{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sedans button:hover{
    background-color: hsl(31, 77%, 52%);
    color:white
}

.suvs  button:hover{
    background-color: hsl(184, 100%, 22%);
    color:white
}

.luxury  button:hover{
    background-color: hsl(179, 100%, 13%);
    color:white
}

footer{
    display: none;
}

@media screen and (max-width: 900px) {

    main{
        flex-direction: column;
    }

    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .luxury{
        border-radius:0px 0px 10px 10px;

    }

    .sedans{
        border-radius:10px 10px 0px 0px;

    }

    body{
        top: 40%;
        left: 40%;
        transform: translate(-20%, -20%);
    }


}
